.Kontakt{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
.Kontaktdaten{
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.Kontaktbild{
    width: 55px;
    height: 55px;
}
.KontaktFoto{
    width: 600px;
    min-width: 500px;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
}