.boxframe{
    display: flex;
}
.box{
    width: 350px;
    height: 350px;
    background-color: lightgrey;
    border-radius: 1em;
    border:  2px solid grey;
    margin: 20px auto;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
.box:hover{
    box-shadow: 0 0 100px 5px grey;
}
.image{
    width: 354px;
    height: 354px;
    margin: -2px;
    border-radius: 1em;
}
.text{
    position: absolute;
    margin-left: 120px;
    margin-top: 135px;
    color: white;
    font-size: 20px;
}